.container {
  padding: 0rem 3rem;
  position: relative;
  border-radius: 2rem;
  margin: 0rem 2rem;
  margin-bottom: 2rem;
  // background-color: var(--lightcream);
  // background: linear-gradient(135deg, #f8fffe 0%, #f0fdf4 100%);
}

.cardsGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  max-width: 70rem;
  margin: 0 auto;
  width: 100%;

  & > div {
    display: grid;
    grid-template-columns: 35% 62%;
    gap: 1rem;
  }
}

.cardContainer {
  position: relative;
  overflow: hidden;
  min-height: 15rem !important;
  height: 15rem !important;
}

.cardImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 65% center;
  z-index: 1;
}

.aboutContainer {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 1rem;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem;

    h2 {
      font-size: 2.5rem;
      font-weight: 900;
    }
  }
}

.card3 {
  height: 20rem !important;

  img {
    object-position: center 30%;
  }
}

@media (max-width: 1100px) {
  .container {
    padding: 0rem 0rem;
    margin: 0rem 2rem;
    margin-bottom: 2rem;
  }

  .aboutContainer {
    grid-template-columns: 1fr;
    gap: 0rem;

    .content {
      gap: 0.5rem;
      padding: 2rem 0;

      h2 {
        font-size: 2.25rem;
      }
    }
  }
}

@media (max-width: 550px) {
  .container {
    margin: 1rem;
  }

  .disable {
    display: none;
  }

  .cardImage {
    height: 100%;
  }
  .cardContainer {
    min-height: 10rem !important;
    height: 10rem !important;
  }
}
