.container {
  display: flex;
  padding: 0.5rem 2rem;
  align-items: center;
  justify-content: space-around;
  background-color: var(--green);
  background-color: #d4c79a;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 550px) {
  .container {
    font-size: 0.7rem;
  }
}
