.container{
  display: flex;
  padding: 0.65rem 2rem;
  align-items: center;
  justify-content: space-around;
  background-color: var(--green);
  background-color: #D4C79A;
  font-size: 0.9rem;
  font-weight: 600;
}