.AboutInfoContainer {
  max-width: 100vw;
  overflow: hidden;
  
  .info {
    padding: 2rem;
    margin: 2rem;

    p {
      font-size: 1.3rem;
      text-align: center;
    }
  }

  .approach {
    display: grid;
    grid-template-columns: 40% 60%;
    height: 65vh;
    overflow: hidden;
  }

  .leafBg {
    background: url("/assets/about/leaves.webp") center/cover no-repeat fixed
      border-box;
    position: relative;
    width: 100vw;
    height: 60vh;
  }

  .madeToLastContainer {
    grid-template-columns: 55% 45%;
  }

  .last {
    background: url("/assets/about/last.webp") center/cover no-repeat fixed
      border-box;
    position: relative;
    height: 60vh;
  }

  .aboutInfoImgContainer{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

  }
}

.centeringAbout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 4rem;
  background-color: rgb(230, 222, 216);

  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 1.05rem;
  }
}
