.sidebarContainer {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  min-height: 91.5vh;
  position: sticky !important;
  top: 5rem;
  left: 0;

  .accordianContainer {
    .accordianItem {
      .accordianTrigger {
        padding: 0.5rem;
      }

      .accordionContentInSidebar {
        padding: 0.5rem;

        & > div {
          & > div {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding-bottom: 0.5rem;
          }
        }
      }
    }
  }

  .colorsContainer {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;

    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
      }
    }
  }

  .line {
    width: 100%;
    height: 0.1rem;
    background-color: rgba(221, 219, 220, 1);
    margin: 1rem 0;
  }
}

@keyframes accordion-down {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
    opacity: 1;
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}

.accordionContent {
  overflow: hidden;
  animation-duration: 0.3s; /* Slower animation */
  animation-timing-function: ease-in-out;

  &[data-state="open"] {
    animation-name: accordion-down;
  }

  &[data-state="closed"] {
    animation-name: accordion-up;
  }
}
