.collectionsContainer{
  
  .contentContainer{
    padding: 2rem 5rem;

    h2{
      font-size: 2.25rem;
    }
    p{
      font-size: 1.2rem;
    }
  }

  .ProductsCollection{
    padding: 3rem 15rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
  }

  .collectionInfo{
    padding: 2rem 5rem;

    & > div{
      margin-bottom: 1rem;
    }

    h3{
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
      font-weight: 600;
    }
    p{
      font-size: 1.1rem;
    }
  }

  .offersContentContainer{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
      color: #32a852;
      font-size: 2rem;
      font-weight: 700;
    }
    p{
      font-size: 1.1rem;
      margin-bottom: 1rem;
    }

    & > div{
      display: flex;
      gap: 2rem;
      padding: 2rem;
    }
  }
}